<h1>Groups List</h1>

<div *ngIf="isLoading">Loading...</div>

<div class="list-group" *ngIf="!isLoading">
  <a
    *ngFor="let group of groups"
    [ngClass]="['list-group-item', group.highlighting ? 'list-group-item-' + group.highlighting : '']"
    routerLink="/groups/{{group.$key}}"
  >
    <span class="badge">{{group.sum}}</span>
    <strong>{{group.title}}</strong>
  </a>
  <a class="list-group-item disabled">
    <span class="badge">{{sum}}</span>
    Sum
  </a>
</div>

<p>
  <a class="btn btn-primary pull-right" routerLink="/groups/new">Create new</a>
</p>
<div class="clearfix"></div>
