<h1>
  <a routerLink="/groups"><i class="glyphicon glyphicon-arrow-left"></i></a>
  Group {{isNew() ? 'New' : 'Edit'}}
</h1>

<div [ngClass]="['container', group.highlighting ? 'bg-' + group.highlighting : '']">
  <form (submit)="save()">

    <div class="form-group">
      <label for="groupTitle">Title</label>
      <input
        type="text"
        class="form-control"
        placeholder="title"
        required
        id="groupTitle"
        [(ngModel)]="group.title"
        [ngModelOptions]="{standalone: true}"
        [disabled]="isLoading">
    </div>

    <div class="form-group">
      <label for="groupSum">Sum</label>
      <input
        type="number"
        class="form-control"
        id="groupSum"
        placeholder="sum"
        required
        [(ngModel)]="group.sum"
        [ngModelOptions]="{standalone: true}"
        [disabled]="isLoading">
    </div>

    <div class="form-group">
      <label for="groupColor">Color</label>
      <select
        class="form-control"
        id="groupColor"
        [(ngModel)]="group.highlighting"
        [ngModelOptions]="{standalone: true}"
      >
        <option value="">Default</option>
        <option value="primary">Primary</option>
        <option value="success">Success</option>
        <option value="info">Info</option>
        <option value="warning">Warning</option>
        <option value="danger">Danger</option>
      </select>
    </div>

    <div class="form-group">
      <label for="groupOwnerKey">OwnerKey</label>
      <input
        type="text"
        class="form-control"
        id="groupOwnerKey"
        placeholder="OwnerKey"
        required
        [(ngModel)]="group.ownerKey"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true">
    </div>

    <a type="submit" class="btn btn-default" routerLink="/groups">Cancel</a>
    <button type="submit" class="btn btn-primary pull-right" [disabled]="isLoading">Save</button>
    <div class="clearfix"></div>
    <br>
  </form>
</div>
