<h1>Log {{isNew() ? 'New' : 'Edit'}}</h1>

<form (submit)="save()">

  <div class="form-group">
    <label for="groupTitle">Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="title"
      required
      id="groupTitle"
      [(ngModel)]="log.title"
      [ngModelOptions]="{standalone: true}"
      [disabled]="isLoading">
  </div>

  <div class="form-group">
    <label for="groupSum">Sum</label>
    <input
      type="number"
      class="form-control"
      id="groupSum"
      placeholder="sum"
      required
      [(ngModel)]="log.sum"
      [ngModelOptions]="{standalone: true}"
      [disabled]="isLoading">
  </div>

  <select
    [(ngModel)]="log.groupKey"
    [ngModelOptions]="{standalone: true}"
    class="form-control"
    placeholder="Group"
    [disabled]="isLoading"
    required>
    <option value="" readonly>- Group -</option>
    <option *ngFor="let group of groups$ | async" [ngValue]="group.$key">{{ group.title }}</option>
  </select>
  <!--<div class="list-group" *ngIf="!isLoading">-->
    <!--<a-->
      <!--*ngFor="let group of groups$ | async"-->
      <!--class="list-group-item"-->
      <!--routerLink="/groups/{{group.$key}}">-->
      <!--<span class="badge">{{group.sum}}</span>-->
      <!--{{group.title}}-->
    <!--</a>-->
  <!--</div>-->

  <div class="form-group">
    <label for="date">Date</label>
    <input
      type="text"
      class="form-control"
      id="date"
      placeholder="Date"
      required
      [(ngModel)]="log.date"
      [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="groupOwnerKey">OwnerKey</label>
    <input
      type="text"
      class="form-control"
      id="groupOwnerKey"
      placeholder="OwnerKey"
      required
      [(ngModel)]="log.ownerKey"
      [ngModelOptions]="{standalone: true}"
      [disabled]="true">
  </div>

  <a type="submit" class="btn btn-default" routerLink="/logs">Cancel</a>
  <button type="submit" class="btn btn-primary pull-right" [disabled]="isLoading">Save</button>
  <div class="clearfix"></div>

</form>
